<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qardiocore-reader.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C843069E471AF9BF59257F7D563589F384C82584</string>
				<key>dateExpires</key>
				<string>06/11/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K532S7LL5T.ch.wunderapps.qardiocore-reader</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.healthkit.access</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>K532S7LL5T</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>qardiocore-reader.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>60e2ff8f-3810-471c-b96e-bd07fed65f6d</string>
				<key>dateExpires</key>
				<string>06/11/2022</string>
				<key>name</key>
				<string>qardio-reader profile</string>
			</dict>
			<key>symbols</key>
			<false/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K532S7LL5T</string>
				<key>name</key>
				<string>Wunderapps GmbH</string>
			</dict>
			<key>versionNumber</key>
			<string>1.8</string>
		</dict>
	</array>
</dict>
</plist>
